<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afrikcode.alccodechallenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NotesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:parentActivityName=".NotesActivity"
            android:theme="@style/EditorTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesActivity" />
        </activity>

        <provider
            android:name=".data.NoteProvider"
            android:authorities="com.afrikcode.alccodechallenge"
            android:exported="false" />


        <activity
            android:name=".AuthActivity"
            android:label="@string/auth_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesActivity" />
        </activity>
        <activity
            android:name=".CloudActivity"
            android:label="@string/cloud_activity_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesActivity" />
        </activity>
        <activity
            android:name=".ReadActivity"
            android:label="@string/activity_note_reader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CloudActivity" />
        </activity>
    </application>

</manifest>